<!DOCTYPE html>
<html>
<head>
  <title>DalliCaptcha</title>
  <%= stylesheet_link_tag    "dalli_captcha/application", :media => "all" %>
  <%= javascript_include_tag "dalli_captcha/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
